doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='styles.css')
    title БИС Эвакуатор
  body
    header.main-header
      .container
        img.logo(src='img/logo.png', alt='logo')
        .header-text
          h1.company-name БИС Эвакуатор
          .phone-number +7(911) 455-47-96
    .navigation
      .container
        form.nav-form(action='')
          .nav-item
            .nav-icon.nav-icon--car
            input#evac-from-input.nav-form__input(type='text', placeholder='Откуда эвакуировать')
          .nav-item
            .nav-icon.nav-icon--evac
            input#evac-to-input.nav-form__input(type='text', placeholder='Куда эвакуировать')
        .stats
        //- input#input-from(type="text" placeholder="Введите точку отправления" size="50")
        //- input#input-to(type="text" placeholder="Введите точку назначения" size="50")
        .stats__distance Расстояние:
          .stats__distance-km 
        .stats__value Стоимость:
          .stats__value-price
        input#button.button(type="button" value="Рассчитать")
    #dvDistance
    #right-panel
    .map
    #dvPanel
    footer.main-footer
      .container
        .copyrights © БИС Эвакуатор 2017
 

    script(src='script.js')
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCctzeYyaKtLr-MfxITYRgiFfBPMvNE4Sw&libraries=places&callback=initMap")

